@model IEnumerable<internosSennaf.Models.Interno>

<table class="table table-responsive text-center gmd gmd-3" style="background-color: white;">

    <thead>
        <tr>
            <th class="col-md-1 text-center">
                Interno
            </th>
            <th class="col-md-3">
                Sector
            </th>
            <th class="col-md-1 text-center">
                Tipo
            </th>
            <th class="col-md-1 text-center">
                TN
            </th>
            <th class="col-md-1 text-center">
                Estado
            </th>
            <th class="col-md-1 text-center">
                Esta Oculto
            </th>
            <th class="col-md-3">
                Observacion
            </th>
            @*<th class="col-md-1 text-center">
                Acciones
            </th>*@
        </tr>
    </thead>


    <tbody class="buscar">

        @foreach (var item in Model)
        {
            <tr class="resaltar-fila" onclick="document.location = '/Interno/Edit/'+ @item.id ">

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.numero)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.Sector.descripcion)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.tn)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td class="text-center">
                    @Html.CheckBoxFor(modelItem => item.ocultar.Value, new { @disabled = "disabled" })
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.observacion)
                </td>
                @*<td class="text-center">
                    @Html.ActionLink(" ", "Edit", "Interno", new { id = item.id }, new { @class = "glyphicon glyphicon-pencil", @style = "color: red;" }) &nbsp;
                    @Html.ActionLink(" ", "Details", "Interno",  new { id = item.id }, new { @class = "glyphicon glyphicon-list", @style = "color: red;" }) &nbsp;
                    @Html.ActionLink(" ", "Delete", "Interno", new { id = item.id }, new { @class = "glyphicon glyphicon-remove", @style="color: red;" })
                </td>*@
            </tr>
  
        }

    </tbody>

</table>
