@model IEnumerable<internosSennaf.Models.ListInterno>


<ul class="nav nav-justified botonesDependencias">
    <li role="presentation" class="gmd gmd-1">
        @Html.ActionLink(" ", "generadorPDF", new { idDepe = Model.Select(d => d.idDependencia).FirstOrDefault() }, new { @class = "glyphicon glyphicon-floppy-disk", @style = "font-size: 20px;" })
    </li>
</ul>

<br />

<table class="table table-responsive text-center gmd gmd-3 fuenteTabla">
    <tr class="text-info">
        <th class="text-center">Piso</th>
        <th style="text-align:center;">Sector</th>
        <th class="text-center">Referente</th>
        <th class="text-center">Interno</th>
        <th class="text-center">Externo</th>
    </tr>

    <tbody class="buscar">

        @foreach (var item in Model)
        {
            if ( (User.IsInRole("administrador") || User.IsInRole("privada")) && item.Sector != "(sin sector)")
            {
                <tr class="resaltar-fila" tabindex="0">
                    <td class="col-md-1" style="text-align:center">
                        @if (item.Piso == "-1")
                        {
                            <span>SS</span>
                        }
                        else if (item.Piso == "0")
                        {
                            <span>PB</span>
                        }
                        else
                        {
                            @item.Piso<span>°</span>
                        }
                    </td>

                    <td class="col-md-5" style=" text-align:left;">
                        @item.Sector
                    </td>

                    <td class="col-md-4" style="text-align: center;">
                        @item.Referente
                    </td>

                    <td class="col-md-1" style="text-align: center">
                        @foreach (var interno in item.Internos)
                        {
                            if (!@interno.numero.Contains("-"))
                            {
                                @interno.numero <text>&nbsp;</text>
                            }

                        }
                    </td>

                    <td class="col-md-1" style="text-align: center; vertical-align: middle;">
                        @foreach (var interno in item.Internos)
                        {
                            if (@interno.numero.Contains("-"))
                            {
                                <span>@interno.numero</span>
                            }
                        }
                    </td>

                </tr>
            }

            else if (item.Sector != "(sin sector)" && item.Internos.Select(inte => inte.ocultar).FirstOrDefault() != true && User.Identity.Name != "administrador" )
            {

                <tr class="resaltar-fila" tabindex="0">
                    <td class="col-md-1" style="text-align:center">
                        @if (item.Piso == "-1")
                        {
                            <span>SS</span>
                        }
                        else if (item.Piso == "0")
                        {
                            <span>PB</span>
                        }
                        else
                        {
                            @item.Piso<span>°</span>
                        }
                    </td>

                    <td class="col-md-5" style=" text-align:left;">
                        @item.Sector
                    </td>

                    <td class="col-md-4" style="text-align: center;">
                        @item.Referente
                    </td>
                    <td class="col-md-1" style="text-align: center">
                        @foreach (var interno in item.Internos)
                        {
                            if (!@interno.numero.Contains("-"))
                            {
                                @interno.numero <text>&nbsp;</text>
                            }

                        }
                    </td>

                    <td class="col-md-1" style="text-align: center; vertical-align: middle;">
                        @foreach (var interno in item.Internos)
                        {
                            if (@interno.numero.Contains("-"))
                            {
                                @interno.numero <br />
                            }
                        }
                    </td>
                </tr>

            } // fin IF

        }

    </tbody>

</table>

