
@{
    ViewBag.Title = "Listado de Internos";
}

@if (TempData["msg"] != null)
{
    @Html.Raw(TempData["msg"])
}

<br />

<ul class="nav nav-justified botonesDependencias">
    <li role="presentation" class="gmd gmd-1" data-toggle="tooltip" title="Tel.: 4338-5800">
        @Ajax.ActionLink("SEDE CENTRAL", "MostrarListadoInternos", new { id = 2 }, new AjaxOptions()
   {
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "resultado",
       OnSuccess = "limpiarFiltro()",
   }, new { id = "activo" })
    </li>
    <li role="presentation" class="gmd gmd-1">
        @Ajax.ActionLink("PRIMERA INFANCIA", "MostrarListadoInternos", new { id = 5 }, new AjaxOptions()
        {
            UpdateTargetId = "resultado",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "limpiarFiltro()",
        })
    </li>
    <li role="presentation" class="gmd gmd-1">
        @Ajax.ActionLink("EDITORA BRAILLE", "MostrarListadoInternos", new { id = 4 }, new AjaxOptions()
        {
            UpdateTargetId = "resultado",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "limpiarFiltro()",
        })
    </li>
</ul>

<br />

<div class="text-center">
    <img src="~/Img/cargando.gif" alt="Cargando" style="display:none; height: 150px;" id="Cargando" />
</div>

<div id="resultado">

</div>




<script type="text/javascript">

    // SCRIPT PARA QUE AL INICIO VAYA DIRECTO A LA ACCION DE MOSTRAR LISTADO DE SEDE CENTRAL
    window.onload = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Home/MostrarListadoInternos/2")",
                beforeSend: function myfunction() {
                    $("#Cargando").show();
                },
                success: function (resultado) {
                    $("#activo").focus();
                    $("#resultado").html(resultado);
                    $("#Cargando").hide();
                    //alert("funca");
                },
                error: function () {
                    alert("Error al cargar el listado de internos");
                    $("#Cargando").hide();
                }
            });
    };



    // LIMPIAR INPUT
    function limpiarFiltro() {
        $('#filtrar').val("")
    }

</script>



@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
}


