@model IEnumerable<internosSennaf.Models.Area>

@{
    ViewBag.Title = "Areas";
}

<h2>Editar Áreas <small>@Html.ActionLink("[+ Agregar]", "Create")</small></h2>

<ul class="nav nav-justified">
    <li role="presentation" id="activo" class="gmd gmd-1" data-toggle="tooltip" title="Tel.: 4338-5800">
        @Ajax.ActionLink("Sede Central", "AreasXDependencia", "Area", new { id = 2 }, new AjaxOptions()
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "resultado",
        })
    </li>
    <li role="presentation" class="gmd gmd-1">
        @Ajax.ActionLink("Primera Infancia", "AreasXDependencia", "Area", new { id = 5 }, new AjaxOptions()
        {
            UpdateTargetId = "resultado",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
        })
    </li>
    <li role="presentation" class="gmd gmd-1">
        @Ajax.ActionLink("Editora Braille", "AreasXDependencia", "Area", new { id = 4 }, new AjaxOptions()
        {
            UpdateTargetId = "resultado",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
        })
    </li>
    <li role="presentation" class="gmd gmd-1">
        @Ajax.ActionLink("Sistemas de Proteccion", "AreasXDependencia", "Area", new { id = 8 }, new AjaxOptions()
        {
            UpdateTargetId = "resultado",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
        })
    </li>

</ul>

<br />

<div id="resultado">

</div>


<script type="text/javascript">

    // SCRIPT PARA QUE AL INICIO VAYA DIRECTO A LA ACCION DE MOSTRAR LISTADO DE SEDE CENTRAL
    window.onload = function () {
            $.ajax({
                type: "GET",
                url:  "@Url.Content("~/Area/AreasXDependencia/2")",
                success: function (resultado) {
                    $("#resultado").html(resultado);
                    //alert("funca");
                },
                error: function () {
                    alert("Error al cargar el listado");
                }
            });
    };



    // LIMPIAR INPUT
    function limpiarFiltro() {
        $('#filtrar').val("")
    }

</script>