@model internosSennaf.Models.Contacto

@{
    ViewBag.Title = "Contacto";
}


<style>

    .paginaContacto {
        margin-top: 20px;
        background-color: white;
        padding-bottom: 50px;
        background: #f7f7f7;
    }

</style>


<div class="col-md-8 col-md-offset-2 col-xs-12 paginaContacto efectoSombra">

    <h2 class="text-center">Sugerencias</h2>
    <br />

    <h4 class="text-center">Aquí puedes dejar tus dudas, reclamos o sugerencias con respecto a los interno y/o directos. Estas serán respondidas a la brevedad.</h4>

    <div class="text-center">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <!-- FECHA -->
                <div class="form-group">
                    <input type="hidden" name="Fecha" value="@DateTime.Now" />
                </div>

                <!-- NOMBRE -->
                <label class="col-md-12 text-center" style="margin-left: -15px;">Nombre</label>
                <div class="form-group col-md-12">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @style = "margin: 0 auto" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>


                <!-- EMAIL -->
                <label class="col-md-12 text-center" style="margin-left: -15px;">Email</label>
                <div class="form-group col-md-12">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @style = "margin: 0 auto" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>


                <!-- OBSERVACION -->
                <label class="col-md-12 text-center" style="margin-left: -15px;">Observacion</label>
                <div class="form-group col-md-12">
                    @*@Html.EditorFor(model => model.observacion, new { htmlAttributes = new { @class = "form-control", @style = "margin: 0 auto" } })*@
                    @Html.TextAreaFor(model => model.observacion, new { @class = "form-control", @style = "margin: 0 auto;", @rows = 6 })
                    @Html.ValidationMessageFor(model => model.observacion, "", new { @class = "text-danger" })
                </div>



                <!-- SUBMIT -->
                <div class="form-group">
                    <div class="col-md-12" style="margin-left: -15px;">
                        <input type="submit" value="Enviar" class="btn btn-primary" />
                    </div>
                </div>

            </div>

        }

    </div>


</div>      @*container paginaContacto*@