@model IEnumerable<internosSennaf.Models.Contacto>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de sugerencias</h2>
<br />

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table table-hover gmd gmd-2" style="background-color: white">
    <tr>
        <th class="col-md-2">
            Fecha
        </th>
        <th class="col-md-2">
            Nombre
        </th>
        <th class="col-md-2">
            Email
        </th>
        <th class="col-md-1">
            Estado
        </th>
        <th class="col-md-4">
            Observación
        </th>
        <th class="col-md-1">

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observacion)
            </td>
            <td>
                @*@Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.id }) |*@
                @Html.ActionLink("Borrar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
